<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Chấm công"/>
      <add key="NewMenuName" value="BarRex_Time"/>
      <add key="ParentMenuName" value="BarRex"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Chấm công"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="False" />
      <add key="NewToolbarText" value="Chấm công"/>
      <add key="NewToolbarName" value="BarRex_Time"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Chấm công"/>
      <add key="NavigatorGroupName" value="NavRex_Time"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="7"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>
    <Frmrex_Xepca_Thang>
      <add key="Text" value="Bố trí ca làm việc"/>
      <add key="Type" value="Ecm.Rex.Forms.Frmrex_Xepca_Thang"/>
      <add key="Description" value="Bố trí ca làm việc"/>
      <add key="Icon" value="Resources/Icons/month.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Xepca_Thang"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Xepca_Thang"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Xepca_Thang"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Xepca_Thang>
    
    <Frmrex_Nhansu_Finger_User>
      <add key="Text" value="Nhân sự vs TK chấm công"/>
      <add key="Type" value="Ecm.Rex.Forms.Frmrex_Nhansu_Finger_User"/>
      <add key="Description" value="Nhân sự vs Finger"/>
      <add key="Icon" value="Resources/Icons/ns_chamcong.ico"/>

      <add key="CreateMenuItem" value="False"/>
      <add key="MenuItemName" value="Frmrex_Nhansu_Finger_User"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Nhansu_Finger_User"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Nhansu_Finger_User"/>

      <add key="TabPane" value="RexMngr"/>

    </Frmrex_Nhansu_Finger_User>

    <Frmrex_Nghiphep>
      <add key="Text" value="Nghỉ phép"/>
      <add key="Type" value="Ecm.Rex.Forms.Frmrex_Nghiphep"/>
      <add key="Description" value="Nghỉ phép"/>
      <add key="Icon" value="Resources/Icons/calendar_today.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Nghiphep"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Nghiphep"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Nghiphep"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Nghiphep>

    <Frmrex_Chamcong_Thang>
      <add key="Text" value="Chấm công"/>
      <add key="Type" value="Ecm.Rex.Forms.Frmrex_Chamcong_Thang"/>
      <add key="Description" value="Chấm công"/>
      <add key="Icon" value="Resources/Icons/5days.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Chamcong_Thang"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Chamcong_Thang"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Chamcong_Thang"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Chamcong_Thang>

    <Frmrex_Chamcong_Tangca>
      <add key="Text" value="Tăng ca"/>
      <add key="Type" value="Ecm.Rex.Forms.Frmrex_Chamcong_Tangca"/>
      <add key="Description" value="Tăng ca"/>
      <add key="Icon" value="Resources/Icons/whatsnext.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Chamcong_Tangca"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Chamcong_Tangca"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Chamcong_Tangca"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Chamcong_Tangca>
  </PluginItems>
</configuration>