<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Tiền lương"/>
      <add key="NewMenuName" value="BarRex_Salary"/>
      <add key="ParentMenuName" value="BarRex"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Tiền lương"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="False" />
      <add key="NewToolbarText" value="Tiền lương"/>
      <add key="NewToolbarName" value="BarRex_Salary"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Tiền lương"/>
      <add key="NavigatorGroupName" value="NavRex_Salary"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="5"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>
    <Frmrex_Kyluong>
      <add key="Text" value="Kỳ lương"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Kyluong"/>
      <add key="Description" value="Kỳ lương"/>
      <add key="Icon" value="Resources/Icons/1day.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Kyluong"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Kyluong"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Kyluong"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Kyluong>
    
    <Frmrex_Chitiet_Congviec_Thuchien>
      <add key="Text" value="Chi tiết công việc thực hiện"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Chitiet_Congviec_Thuchien"/>
      <add key="Description" value="Nhập thông tin chi tiết công việc thực hiện"/>
      <add key="Icon" value="Resources/Icons/chitietcongviec.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Chitiet_Congviec_Thuchien"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Chitiet_Congviec_Thuchien"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Chitiet_Congviec_Thuchien"/>
    </Frmrex_Chitiet_Congviec_Thuchien>

    <Frmrex_Dongia_Luong_Congviec>
      <add key="Text" value="Đơn giá lương theo công việc"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Dongia_Luong_Congviec"/>
      <add key="Description" value="Nhập thông tin đơn giá lương theo công việc"/>
      <add key="Icon" value="Resources/Icons/sale2.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Dongia_Luong_Congviec"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Dongia_Luong_Congviec"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Dongia_Luong_Congviec"/>
    </Frmrex_Dongia_Luong_Congviec>

    <Frmrex_Dongia_Luong_Hieunang>
      <add key="Text" value="Đơn giá lương theo hiệu năng"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Dongia_Luong_Hieunang"/>
      <add key="Description" value="Nhập thông tin đơn giá lương theo hiệu năng"/>
      <add key="Icon" value="Resources/Icons/sale.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Dongia_Luong_Hieunang"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Dongia_Luong_Hieunang"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Dongia_Luong_Hieunang"/>
    </Frmrex_Dongia_Luong_Hieunang>

    <FrmRex_Tamung_Ky1>
      <add key="Text" value="Lương kỳ 1"/>
      <add key="Type" value="TruthPos.Rex.Forms.Tienluong.FrmRex_Tamung_Ky1"/>
      <add key="Description" value="Bảng tạm ứng lương kỳ 1"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRex_Tamung_Ky1"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmRex_Tamung_Ky1"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmRex_Tamung_Ky1"/>
    </FrmRex_Tamung_Ky1>
   
    
    <Frmrex_Luong_Tonghop>
      <add key="Text" value="Bảng lương chi tiết tổng hợp"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Luong_Tonghop"/>
      <add key="Description" value="Bảng lương chi tiết tổng hợp"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Luong_Tonghop"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Luong_Tonghop"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Luong_Tonghop"/>
    </Frmrex_Luong_Tonghop>
    
  </PluginItems>
</configuration>

<!--
 <Frmrex_Luong_Nhom>
      <add key="Text" value="Lương tính theo nhóm"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Luong_Nhom"/>
      <add key="Description" value="Nhập thông tin tính lương theo nhóm"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Luong_Nhom"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Luong_Nhom"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Luong_Nhom"/>
    </Frmrex_Luong_Nhom>

    <Frmrex_Luong_Hieunang>
      <add key="Text" value="Lương tính theo hiệu năng"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Luong_Hieunang"/>
      <add key="Description" value="Nhập thông tin tính lương theo hiệu năng"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Luong_Hieunang"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Luong_Hieunang"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Luong_Hieunang"/>
    </Frmrex_Luong_Hieunang>

    <Frmrex_Luong_Thoigian>
      <add key="Text" value="Lương tính theo thời gian"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Luong_Thoigian"/>
      <add key="Description" value="Nhập thông tin tính theo thời gian"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Luong_Thoigian"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Luong_Thoigian"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Luong_Thoigian"/>
    </Frmrex_Luong_Thoigian>

    <Frmrex_Phucap>
      <add key="Text" value="Phụ cấp"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Phucap"/>
      <add key="Description" value="Nhập thông tin phụ cấp"/>
      <add key="Icon" value="Resources/Icons/table.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="False"/>
      <add key="MenuItemName" value="Frmrex_Phucap"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Phucap"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Phucap"/>
    </Frmrex_Phucap>
-->