<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Hồ sơ lý lịch"/>
      <add key="NewMenuName" value="Rex_Profile"/>
      <add key="ParentMenuName" value="BarRex"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Hồ sơ lý lịch"/>
    </MenuSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Nhân sự - Tiền lương - Nhập liệu"/>
      <add key="NavigatorGroupName" value="NavRex_Input"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <ToolbarSettings>
      <add key="CreateToolbar" value="False" />
      <add key="NewToolbarText" value="Hồ sơ lý lịch"/>
      <add key="NewToolbarName" value="Rex_Profile"/>
    </ToolbarSettings>
    
    <Images>
      <add key="LargeImage" value="Resources/Icons/nl_ns.ico"/>
      <add key="SmallImage" value="Resources/Icons/nl_ns.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="20"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>

    <Frmrex_Nhansu>
      <add key="Text" value="Lý lịch nhân sự"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Nhansu"/>
      <add key="Description" value="Lý lịch nhân sự"/>
      <add key="Icon" value="Resources/Icons/kontact_contacts.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Nhansu"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Nhansu"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Nhansu"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Nhansu>

    <Frmrex_Hopdong_Laodong>
      <add key="Text" value="Hợp đồng lao động"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Hopdong_Laodong"/>
      <add key="Description" value="Hơp đồng lao động"/>
      <add key="Icon" value="Resources/Icons/kontact_summary.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Hopdong_Laodong"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmrex_Hopdong_Laodong"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmrex_Hopdong_Laodong"/>

      <add key="TabPane" value="RexMngr"/>
    </Frmrex_Hopdong_Laodong>
    
    <Frmrex_Ds_Nhansu_Quanly>
      <add key="Text" value="Danh sách nhân sự quản lý"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Ds_Nhansu_Quanly"/>
      <add key="Description" value="Nhập thông tin nhân sự quản lý"/>
      <add key="Icon" value="Resources/Icons/aim.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="False"/>
      <add key="MenuItemName" value="Frmrex_Ds_Nhansu_Quanly"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Ds_Nhansu_Quanly"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Ds_Nhansu_Quanly"/>
    </Frmrex_Ds_Nhansu_Quanly>

    <Frmrex_Nhansu_Roll>
      <add key="Text" value="Bảng vị trí nhân sự sản xuất"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Nhansu_Roll"/>
      <add key="Description" value="Bảng vị trí nhân sự sản xuất"/>
      <add key="Icon" value="Resources/Icons/matrix.ico"/>
      
      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Nhansu_Roll"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Nhansu_Roll"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Nhansu_Roll"/>
    </Frmrex_Nhansu_Roll>
   
    <Frmrex_Botri_Nhansu_Stt>
      <add key="Text" value="Bố trí nhân sự sản xuất"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Botri_Nhansu_Stt"/>
      <add key="Description" value="Bố trí nhân sự sản xuất"/>
      <add key="Icon" value="Resources/Icons/view_process_users.ico"/>
      
      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Botri_Nhansu_Stt"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Botri_Nhansu_Stt"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Botri_Nhansu_Stt"/>
    </Frmrex_Botri_Nhansu_Stt>
    
  </PluginItems>
  
  <DialogItems>
    <Frmrex_Nhansu_Info>
      <add key="Text" value="Cập nhật hồ sơ nhân viên"/>
      <add key ="Assembly" value="TruthPos.Rex.dll"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Nhansu_Info"/>
    </Frmrex_Nhansu_Info>
  </DialogItems>
</configuration>

<!--<Frmrex_Trichnop_Bhxh>
      <add key="Text" value="Trích nộp BHXH"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Trichnop_Bhxh"/>
      <add key="Description" value="Nhập thông tin tính theo thời gian"/>
      <add key="Icon" value="Resources/Icons/BHXH.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Trichnop_Bhxh"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Trichnop_Bhxh"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Trichnop_Bhxh"/>
    </Frmrex_Trichnop_Bhxh>
    
    <Frmrex_Chamcong_Thang>
      <add key="Text" value="Chấm công theo tháng"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Chamcong_Thang"/>
      <add key="Description" value="Nhập thông tin chấm công theo tháng"/>
      <add key="Icon" value="Resources/Icons/chamcong.ico"/>
      <add key="BeginGroup" value="True"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Chamcong_Thang"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Chamcong_Thang"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Chamcong_Thang"/>
    </Frmrex_Chamcong_Thang>   
    
    <Frmrex_Nghiphep>
      <add key="Text" value="Nghỉ phép"/>
      <add key="Type" value="TruthPos.Rex.Forms.Frmrex_Nghiphep"/>
      <add key="Description" value="Nhập thông tin nghỉ phép"/>
      <add key="Icon" value="Resources/Icons/qlnghiphep.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmrex_Nghiphep"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="Frmrex_Nghiphep"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmrex_Nghiphep"/>
    </Frmrex_Nghiphep>
    -->