<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Thông tin hệ thống"/>
      <add key="NewMenuName" value="BarSystemInfo"/>
      <add key="ParentMenuName" value="BarSystemControl"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Hệ thống"/>
    </MenuSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="False" />
      <add key="NavigatorGroupText" value="Thông tin hệ thống"/>
      <add key="NavigatorGroupName" value="NavSystemInfo"/>
      <add key="Expanded" value="False"/>
    </NavigatorSettings>
    
    <ToolbarSettings>
      <add key="CreateToolbar" value="True" />
      <add key="NewToolbarText" value="Thông tin hệ thống"/>
      <add key="NewToolbarName" value="BarSystemInfo"/>
    </ToolbarSettings>
    
    <Images>
      <add key="LargeImage" value="Resources/Icons/Lock (11).ico"/>
      <add key="SmallImage" value="Resources/Icons/Lock (11).ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="5"/>
    </RibbonItems>
      
  </Settings>

  <PluginItems>

    <FrmHostConfiguration>
      <add key="Text" value="Cấu hình chung"/>
      <add key="Assembly" value=" GoobizFrame.Windows.dll"/>
      <add key="Type" value=" GoobizFrame.Windows.Forms.FrmHostConfiguration"/>
      <add key="Description" value="Cấu hình chung"/>
      <add key="Icon" value="Resources/Icons/Window Configuration.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmHostConfiguration"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmHostConfiguration"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmHostConfiguration"/>
    </FrmHostConfiguration>

    <FrmSys_Dm_Heso_Chuongtrinh>
      <add key="Text" value="Hệ số chương trình"/>
      <add key="Assembly" value="Ecm.SystemControl.dll"/>
      <add key="Type" value="Ecm.SystemControl.SystemInfo.FrmSys_Dm_Heso_Chuongtrinh"/>
      <add key="Description" value="Hệ số chương trình"/>
      <add key="Icon" value="Resources/Icons/Window Configuration.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmSys_Dm_Heso_Chuongtrinh"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmSys_Dm_Heso_Chuongtrinh"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmSys_Dm_Heso_Chuongtrinh"/>
    </FrmSys_Dm_Heso_Chuongtrinh>
  </PluginItems>
</configuration>