<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="FormUpdateWithToolbar">
      <section name="ProductInfo" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  
  <FormUpdateWithToolbar>
    <ImageSize>
      <add key="ImageSize.Width" value="24"/>
      <add key="ImageSize.Height" value="24"/>
    </ImageSize>
    <item_Add>
      <add key="Image" value="Resources\Icons\add (9).ico"/>
      <add key="Caption" value="Thêm"/>
      <add key="Hint" value="Thêm"/>
      <add key="Description" value="Thêm"/>
    </item_Add>

    <item_Edit>
      <add key="Image" value="Resources\Icons\edit (6).ico"/>
      <add key="Caption" value="Cập nhật"/>
      <add key="Hint" value="Cập nhật"/>
      <add key="Description" value="Cập nhật"/>
      <add key="ImageIndex"  value="1"/>
      <add key="LargeImageIndex"  value="1"/>
    </item_Edit>

    <item_Delete>
      <add key="Image" value="Resources\Icons\delete (6).ico"/>
      <add key="Caption" value="Xóa"/>
      <add key="Hint" value="Xóa"/>
      <add key="Description" value="Xóa"/>
      <add key="ImageIndex"  value="2"/>
      <add key="LargeImageIndex"  value="2"/>
    </item_Delete>

    <item_Save>
      <add key="Image" value="Resources\Icons\save (2).ico"/>
      <add key="Caption" value="Lưu"/>
      <add key="Hint" value="Lưu"/>
      <add key="Description" value="Lưu"/>
      <add key="ImageIndex"  value="3"/>
      <add key="LargeImageIndex"  value="3"/>
    </item_Save>

    <item_Cancel>
      <add key="Image" value="Resources\Icons\cancel (2).ico"/>
      <add key="Caption" value="Bỏ qua"/>
      <add key="Hint" value="Bỏ qua"/>
      <add key="Description" value="Bỏ qua"/>
    </item_Cancel>

    <item_Select>
      <add key="Image" value="Resources\Icons\bookmark.ico"/>
      <add key="Caption" value="Chọn đối tượng"/>
      <add key="Hint" value="Chọn đối tượng"/>
      <add key="Description" value="Chọn đối tượng"/>
    </item_Select>

    <item_Query>
      <add key="Image" value="Resources\Icons\Report New.ico"/>
      <add key="Caption" value="Lập thống kê"/>
      <add key="Hint" value="Lập thống kê"/>
      <add key="Description" value="Lập thống kê"/>
    </item_Query>
    
    <item_PrintPreview>
      <add key="Image" value="Resources\Icons\print.ico"/>
      <add key="Caption" value="Xem trang in"/>
      <add key="Hint" value="Xem trang in"/>
      <add key="Description" value="Xem trang in"/>
    </item_PrintPreview>

    <item_Close>
      <add key="Image" value="Resources\Icons\close.ico"/>
      <add key="Caption" value="Kết thúc"/>
      <add key="Hint" value="Kết thúc"/>
      <add key="Description" value="Kết thúc"/>
    </item_Close>

    <item_Refresh>
      <add key="Image" value="Resources\Icons\refresh.ico"/>
      <add key="Caption" value="Làm tươi dữ liệu"/>
      <add key="Hint" value="Làm tươi dữ liệu"/>
      <add key="Description" value="Làm tươi dữ liệu"/>
    </item_Refresh>

    <item_InstallPlugin>
      <add key="Image" value="Resources\Icons\Trash In.ico"/>
      <add key="Caption" value="Cài đặt Plugin"/>
      <add key="Hint" value="Cài đặt Plugin"/>
      <add key="Description" value="Cài đặt Plugin"/>
    </item_InstallPlugin>

    <item_RemovePlugin>
      <add key="Image" value="Resources\Icons\Trash Out.ico"/>
      <add key="Caption" value="Xóa Plugin"/>
      <add key="Hint" value="Xóa Plugin"/>
      <add key="Description" value="Xóa Plugin"/>
    </item_RemovePlugin>

    <item_Config>
      <add key="Image" value="Resources\Icons\Connection Configuration (2).ico"/>
      <add key="Caption" value="Tùy biến"/>
      <add key="Hint" value="Tùy biến"/>
      <add key="Description" value="Tùy biến"/>
    </item_Config>
    
    <item_Properties>
      <add key="Image" value="Resources\Icons\Properties.ico"/>
      <add key="Caption" value="Thuộc tính"/>
      <add key="Hint" value="Thuộc tính"/>
      <add key="Description" value="Thuộc tính"/>
    </item_Properties>

    <item_Test>
      <add key="Image" value="Resources\Icons\options.ico"/>
      <add key="Caption" value="Kiểm tra"/>
      <add key="Hint" value="Kiểm tra"/>
      <add key="Description" value="Kiểm tra"/>
    </item_Test>

    <item_Verify>
      <add key="Image" value="Resources\Icons\file_apply.ico"/>
      <add key="Caption" value="Xác nhận"/>
      <add key="Hint" value="Xác nhận"/>
      <add key="Description" value="Xác nhận"/>
    </item_Verify>
    
    <!--Xtra Report Items-->
    <printPreviewBarItem1>
      <add key="Image" value="Resources\Icons\map1.ico"/>
      <add key="Caption" value="Document Maps"/>
      <add key="Hint" value="Document Maps"/>
      <add key="Description" value="Document Maps"/>
    </printPreviewBarItem1>

    <printPreviewBarItem2>
      <add key="Image" value="Resources\Icons\binocular3.ico"/>
      <add key="Caption" value="Search"/>
      <add key="Hint" value="Search"/>
      <add key="Description" value="Search"/>
    </printPreviewBarItem2>

    <printPreviewBarItem3>
      <add key="Image" value="Resources\Icons\Control Panel.ico"/>
      <add key="Caption" value="Customize"/>
      <add key="Hint" value="Customize"/>
      <add key="Description" value="Customize"/>
    </printPreviewBarItem3>
    
    <printPreviewBarItem4>
      <add key="Image" value="Resources\Icons\Printer Help.ico"/>
      <add key="Caption" value="Print"/>
      <add key="Hint" value="Print"/>
      <add key="Description" value="Print"/>
    </printPreviewBarItem4>
    
    <printPreviewBarItem5>
      <add key="Image" value="Resources\Icons\Printer (12).ico"/>
      <add key="Caption" value="Print"/>
      <add key="Hint" value="Print"/>
      <add key="Description" value="Print"/>
    </printPreviewBarItem5>
    
    <printPreviewBarItem6>
      <add key="Image" value="Resources\Icons\pages_setting.ico"/>
      <add key="Caption" value="Page Setup"/>
      <add key="Hint" value="Page Setup"/>
      <add key="Description" value="Page Setup"/>
    </printPreviewBarItem6>

    <printPreviewBarItem7>
      <add key="Image" value="Resources\Icons\header and footer.ico"/>
      <add key="Caption" value="Header And Footer"/>
      <add key="Hint" value="Header And Footer"/>
      <add key="Description" value="Header And Footer"/>
    </printPreviewBarItem7>

    <printPreviewBarItem8>
      <add key="Image" value="Resources\Icons\fit_to_size.ico"/>
      <add key="Caption" value="Scale"/>
      <add key="Hint" value="Scale"/>
      <add key="Description" value="Scale"/>
    </printPreviewBarItem8>

    <printPreviewBarItem9>
      <add key="Image" value="Resources\Icons\hand_stop.ico"/>
      <add key="Caption" value="Hand Tool"/>
      <add key="Hint" value="Hand Tool"/>
      <add key="Description" value="Hand Tool"/>
    </printPreviewBarItem9>

    <printPreviewBarItem10>
      <add key="Image" value="Resources\Icons\search.ico"/>
      <add key="Caption" value="Magnifier"/>
      <add key="Hint" value="Magnifier"/>
      <add key="Description" value="Magnifier"/>
    </printPreviewBarItem10>

    <printPreviewBarItem11>
      <add key="Image" value="Resources\Icons\zoom out.ico"/>
      <add key="Caption" value="Zoom Out"/>
      <add key="Hint" value="Zoom Out"/>
      <add key="Description" value="Zoom Out"/>
    </printPreviewBarItem11>

    <printPreviewBarItem12>
      <add key="Image" value="Resources\Icons\zoom in.ico."/>
      <add key="Caption" value="Zoom In"/>
      <add key="Hint" value="Zoom In"/>
      <add key="Description" value="Zoom In"/>
    </printPreviewBarItem12>

    <printPreviewBarItem13>
      <add key="Image" value="Resources\Icons\first.ico"/>
      <add key="Caption" value="First Page"/>
      <add key="Hint" value="First Page"/>
      <add key="Description" value="First Page"/>
    </printPreviewBarItem13>

    <printPreviewBarItem14>
      <add key="Image" value="Resources\Icons\previous.ico"/>
      <add key="Caption" value="Previous Page"/>
      <add key="Hint" value="Previous Page"/>
      <add key="Description" value="Previous Page"/>
    </printPreviewBarItem14>

    <printPreviewBarItem15>
      <add key="Image" value="Resources\Icons\next.ico"/>
      <add key="Caption" value="Next Page"/>
      <add key="Hint" value="Next Page"/>
      <add key="Description" value="Next Page"/>
    </printPreviewBarItem15>

    <printPreviewBarItem16>
      <add key="Image" value="Resources\Icons\last.ico"/>
      <add key="Caption" value="Last Page"/>
      <add key="Hint" value="Last Page"/>
      <add key="Description" value="Last Page"/>
    </printPreviewBarItem16>

    <printPreviewBarItem17>
      <add key="Image" value="Resources\Icons\multi_pages.ico"/>
      <add key="Caption" value="Multiple Pages"/>
      <add key="Hint" value="Multiple Pages"/>
      <add key="Description" value="Multiple Pages"/>
    </printPreviewBarItem17>

    <printPreviewBarItem18>
      <add key="Image" value="Resources\Icons\paint_2.ico"/>
      <add key="Caption" value="Color..."/>
      <add key="Hint" value="Color..."/>
      <add key="Description" value="Color..."/>
    </printPreviewBarItem18>

    <printPreviewBarItem19>
      <add key="Image" value="Resources\Icons\shading.ico"/>
      <add key="Caption" value="Watermark..."/>
      <add key="Hint" value="Watermark..."/>
      <add key="Description" value="Watermark..."/>
    </printPreviewBarItem19>

    <printPreviewBarItem20>
      <add key="Image" value="Resources\Icons\pages_save.ico"/>
      <add key="Caption" value="Export Document..."/>
      <add key="Hint" value="Export Document..."/>
      <add key="Description" value="Export Document..."/>
    </printPreviewBarItem20>

    <printPreviewBarItem21>
      <add key="Image" value="Resources\Icons\mail.ico"/>
      <add key="Caption" value="Send via E-Mail..."/>
      <add key="Hint" value="Send via E-Mail..."/>
      <add key="Description" value="Send via E-Mail..."/>
    </printPreviewBarItem21>

    <printPreviewBarItem22>
      <add key="Image" value="Resources\Icons\close.ico"/>
      <add key="Caption" value="Exit"/>
      <add key="Hint" value="Exit"/>
      <add key="Description" value="Exit"/>
    </printPreviewBarItem22>

    <item_ExportRepx>
      <add key="Image" value="Resources\Icons\export.ico"/>
      <add key="Caption" value="Xuất mẫu báo cáo"/>
      <add key="Hint" value="Xuất mẫu báo cáo"/>
      <add key="Description" value="Xuất mẫu báo cáo"/>
    </item_ExportRepx>

    <item_ImportRepx>
      <add key="Image" value="Resources\Icons\import.ico"/>
      <add key="Caption" value="Tải mẫu báo cáo"/>
      <add key="Hint" value="Tải mẫu báo cáo"/>
      <add key="Description" value="Tải mẫu báo cáo"/>
    </item_ImportRepx>
  </FormUpdateWithToolbar>
  
  <DevExpress>
    <EmbeddedNavigator>
      <add key="TextStringFormat" value="Dòng : {0}/ {1}"/>
    </EmbeddedNavigator>
  </DevExpress>
</configuration>