<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="FormSettings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>

  </configSections>

  <FormSettings>
    <FrmMainUseRibbon>
      <add key="ribbonPageMain" value="Trang chính"/>
      <add key="ribbonPageGroupSkin" value="Thay đổi giao diện"/>
      <add key="barMdiChildrenListItem" value="Các cửa sổ đang mở"/>
      <add key="dockPanel1" value ="Chức năng"/>
    </FrmMainUseRibbon>
  </FormSettings>

  <SplasherSettings>
    <StatusText>
      <add key="InitializeInterface" value="Đang thiết lập giao diện..."/>
      <add key="LoadData" value="Đang tải dữ liệu..."/>
      <add key="LoadPlugin" value="Tải plugin "/>
      <add key="CannotFindAssembly " value="Không tìm thấy assembly "/>
      <add key="CannotFindPlugin" value="Không tìm thấy plugin "/>
    </StatusText>    
  </SplasherSettings>

  <DevExpress>
    <EmbeddedNavigator>
      <add key="TextStringFormat" value="Dòng : {0}/ {1}"/>
    </EmbeddedNavigator>
  </DevExpress>

</configuration>