<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="TableRelationship">
      <section name="ProductInfo" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  
  <Tables>
    <Descriptions>
      <!--quản lý sản xuất-->
      <add key="pro_botri_sx"           value="bố trí sản xuất"/>
      <add key="pro_dm_coche_dinhmuc"   value="cơ chế định mức"/>
      <add key="pro_dm_color"           value="bảng màu"/>
      <add key="pro_dm_congdoan"        value="công đoạn"/>
      <add key="pro_dm_congviec"        value="công việc"/>
      <add key="pro_dm_dinhmuc"         value="định mức"/>
      <add key="pro_dm_dv_tinhcong"     value="đơn vị tính công"/>
      <add key="pro_dm_khachhang"       value="khách hàng"/>
      <add key="pro_dm_loai_congviec"   value="loại công việc"/>
      <add key="pro_dm_loai_thongke"    value="loại thống kê"/>
      <add key="pro_dm_mathang"         value="mặt hàng"/>
      <add key="pro_dm_loai_mathang"    value="loại mặt hàng"/>
      <add key="pro_dm_nhacungcap"      value="nhà cung cấp"/>
      <add key="pro_dm_phupham"         value="phụ phẩm"/>
      <add key="pro_dm_quycach"         value="quy cách"/>
      <add key="pro_dm_quycach_baogoi"  value="quy cách bao gói"/>
      <add key="pro_dm_quycach_thanhpham" value="quy cách thành phẩm"/>
      <add key="pro_dm_size"            value="phân cở"/>
      <add key="pro_dm_nhamay"          value="nhà máy"/>
      <add key="pro_donhang"            value="đơn hàng"/>
      <add key="pro_ketqua_congviec"    value="kết quả công việc"/>
      <add key="pro_ketqua_phupham"     value="kết quả phụ phẩm"/>
      <add key="pro_ketqua_sx"          value="kết quả sản xuất"/>
      <add key="pro_longuyenlieu"       value="lô nguyên liệu"/>
      <add key="pro_quytrinh_sx"        value="quy trình sản xuất"/>
      <add key="pro_sum_congdoan"       value="công đoạn"/>
      <add key="pro_sum_thongke"        value=""/>
      <add key="pro_sx_donhang"         value="sản xuất theo đơn hàng"/>
      <add key="pro_xenguyenlieu"       value="xe nguyên liệu"/>
      <add key="pro_capdong_mabang"     value="cấp đông mạ băng"/>
      <add key="pro_donggoi"            value="đóng gói"/>
      
      <!--quản lý kho-->
      <add key="store_dm_tieuthuc_nhapxuat" value="tiêu thức nhập xuất"/>
      <add key="store_dm_kho" value="kho"/>

      <!--quản lý nhân sự-->
      <add key="rex_botri_nhansu"       value="bố trí nhân sự"/>
      <add key="rex_dm_ap"              value="ấp"/>
      <add key="rex_dm_bacluong"        value="bậc lương"/>
      <add key="rex_dm_bophan"          value="bộ phận"/>
      <add key="rex_dm_chucvu"          value="chức vụ"/>
      <add key="rex_dm_chungchi"        value="chứng chỉ"/>
      <add key="rex_dm_chuyenmon"       value="chuyên môn"/>
      <add key="rex_dm_coquan"          value="cơ quan"/>
      <add key="rex_dm_dantoc"          value="dân tộc"/>
      <add key="rex_dm_honnhan"         value="hôn nhân"/>
      <add key="rex_dm_huyen"           value="huyện"/>
      <add key="rex_dm_khenthuong_kyluat" value="khen thưởng kỷ luật"/>
      <add key="rex_dm_loai_bophan"     value="loại bộ phận"/>
      <add key="rex_dm_loai_ktkl"       value="loại khen thưởng kỷ luật"/>
      <add key="rex_dm_ngachluong"      value="ngạch lương"/>
      <add key="rex_dm_ngoaingu"        value="ngoại ngữ"/>
      <add key="rex_dm_quanhe_giadinh"  value="quan hệ gia đình"/>
      <add key="rex_dm_quocgia"         value="quốc gia"/>
      <add key="rex_dm_quyetdinh"       value="quyết định"/>
      <add key="rex_dm_tinhoc"          value="tin học"/>
      <add key="rex_dm_tinhtp"          value="tỉnh/thành phố"/>
      <add key="rex_dm_tochuc"          value="tổ chức"/>
      <add key="rex_dm_tongiao"         value="tôn giáo"/>
      <add key="rex_dm_tpbanthan"       value="thành phần bản thân"/>
      <add key="rex_dm_tpgiadinh"       value="thành phần gia đình"/>
      <add key="rex_dm_vanhoa"          value="văn hóa"/>
      <add key="rex_dm_xa"              value="xã"/>
      <add key="rex_dm_xeploai"         value="xếp loại"/>
      <add key="rex_hopdong"            value="hợp đồng"/>
      <add key="rex_huongluong"         value="hưởng lương"/>
      <add key="rex_nhansu"             value="nhân sự"/>
      <add key="rex_quatrinh_chuyenmon" value="quá trình chuyên môn"/>
      <add key="rex_quatrinh_congtac"   value="quá trình công tác"/>
      <add key="rex_quatrinh_ktkl"      value="quá trình khen thưởng kỷ luật"/>
      <add key="rex_quatrinh_ngoaingu"  value="quá trình ngoại ngữ"/>
      <add key="rex_quatrinh_tinhoc"    value="quá trình tin học"/>
      <add key="rex_thamgia_tochuc"     value="tham gia tổ chức"/>
      <add key="rex_thannhan"           value="thân nhân"/>
      <add key="sys_dm_nghiepvu"        value="nghiệp vụ"/>

      <!--Ware-->
      <add key="ware_donmuahang"        value="Đơn đặt mua vật tư"/>
      <add key="ware_dm_nhacungcap_vattu" value="Nhà cung cấp vật tư"/>

      <!--Accounting-->
      <add key="acc_hdmuahang" value="Hóa đơn mua hàng"/>
      
    </Descriptions>    
  </Tables>

  <ContextMenu>
    <Descriptions>
      <add key="text" value="Cập nhật "/>
    </Descriptions>
  </ContextMenu>

  <Tootips>
    <Descriptions>
      <add key="text" value="Kích chuột phải cập nhật "/>
    </Descriptions>
  </Tootips>

  <TableRelationship>
    <!--Ware-->
    <ware_dm_nhacungcap_vattu>
      <add key="ware_donmuahang" value=""/>
      <add key="acc_hdmuahang" value=""/>
    </ware_dm_nhacungcap_vattu>

    <!--Accounting-->
    
    <!--quản lý sản xuất-->
    
    <pro_botri_sx>
      <add key="pro_ketqua_sx" value="id_botri_sx"/>
    </pro_botri_sx>

    <pro_dm_coche_dinhmuc>
      <add key="pro_quytrinh_sx" value="id_coche_dinhmuc"/>
    </pro_dm_coche_dinhmuc>

    <pro_dm_color>
      <add key="pro_dm_quycach" value="id_color"/>
    </pro_dm_color>

    <pro_dm_congdoan>
      <add key="pro_dm_quycach" value=""/>
      <add key="pro_quytrinh_sx" value=""/>
    </pro_dm_congdoan>

    <pro_dm_congviec>
      <add key="pro_dm_dinhmuc" value=""/>      
      <add key="pro_ketqua_congviec" value=""/>      
      <add key="pro_ketqua_sx" value=""/>      
    </pro_dm_congviec>
    
    <pro_dm_dinhmuc>
      
    </pro_dm_dinhmuc>
    
    <pro_dm_dv_tinhcong>
      <add key="pro_dm_congviec" value=""/>      
    </pro_dm_dv_tinhcong>
    
    <pro_dm_khachhang>
      <add key="pro_donhang" value=""/>      
    </pro_dm_khachhang>
    
    <pro_dm_loai_congviec>
      <add key="pro_dm_loai_congviec" value=""/>      
    </pro_dm_loai_congviec>
  
    <pro_dm_loai_thongke>
      <add key="pro_quytrinh_sx" value=""/>      
    </pro_dm_loai_thongke>

    <pro_dm_mathang>
      <add key="pro_dm_quycach_thanhpham" value=""/>
    </pro_dm_mathang>

    <pro_dm_loai_mathang>
      <add key="pro_quytrinh_sx" value=""/>
    </pro_dm_loai_mathang>
    
    <pro_dm_nhacungcap>
      <add key="pro_longuyenlieu" value=""/>      
    </pro_dm_nhacungcap>

    <pro_dm_nhamay>
      <add key="pro_longuyenlieu" value=""/>
      <add key="store_dm_kho" value=""/>
    </pro_dm_nhamay>

    <pro_dm_phupham>
      <add key="pro_ketqua_phupham" value=""/>      
    </pro_dm_phupham>
    
    <pro_dm_quycach>      
    </pro_dm_quycach>
    
    <pro_dm_quycach_baogoi>
      <add key="pro_dm_quycach_thanhpham" value=""/>      
    </pro_dm_quycach_baogoi>
    
    <pro_dm_quycach_thanhpham>
      <add key="pro_donhang" value=""/>      
    </pro_dm_quycach_thanhpham>
    
    <pro_dm_size>
      <add key="pro_dm_quycach" value=""/>
    </pro_dm_size>
    
    <pro_donhang>      
      <add key="pro_sx_donhang" value=""/>
    </pro_donhang>
    
    <pro_ketqua_congviec></pro_ketqua_congviec>
    
    <pro_ketqua_phupham></pro_ketqua_phupham>
    
    <pro_ketqua_sx></pro_ketqua_sx>
    
    <pro_longuyenlieu>      
      <add key="pro_sx_donhang" value=""/>
      <add key="pro_xenguyenlieu" value=""/>
    </pro_longuyenlieu>

    <pro_capdong_mabang>
    </pro_capdong_mabang>

    <pro_donggoi>
    </pro_donggoi>

    <pro_nhapphupham>
    </pro_nhapphupham>

    <pro_quytrinh_sx>      
      <add key="pro_botri_sx" value=""/>
      <add key="pro_dm_congviec" value=""/>
      <add key="pro_dm_phupham" value=""/>
      <add key="pro_sum_congdoan" value=""/>
    </pro_quytrinh_sx>
    
    <pro_sum_congdoan></pro_sum_congdoan>
    
    <pro_sum_thongke></pro_sum_thongke>
    
    <pro_xenguyenlieu></pro_xenguyenlieu>

    <!--quản lý kho-->
    <store_dm_kho>
    </store_dm_kho>
    
    <!--quản lý nhân sự-->
    <rex_botri_nhansu>
      <add key="" value=""/>
    </rex_botri_nhansu>
    
    <rex_dm_ap>
      <add key="rex_nhansu" value=""/>
    </rex_dm_ap>
    
    <rex_dm_bacluong>
      <add key="rex_huongluong" value=""/>
    </rex_dm_bacluong>
    
    <rex_dm_bophan>
      <add key="rex_botri_nhansu" value=""/>
      <add key="pro_botri_sx" value=""/>
    </rex_dm_bophan>
    
    <rex_dm_chucvu>
      <add key="rex_quatrinh_congtac" value=""/>
      <add key="rex_botri_nhansu" value=""/>
      <add key="rex_thamgia_tochuc" value=""/>
    </rex_dm_chucvu>

    <rex_dm_chungchi>
      <add key="rex_quatrinh_ngoaingu" value=""/>
      <add key="rex_quatrinh_tinhoc" value=""/>
    </rex_dm_chungchi>
    
    <rex_dm_chuyenmon>
      <add key="rex_quatrinh_chuyenmon" value=""/>
    </rex_dm_chuyenmon>

    <rex_dm_coquan>
      <add key="rex_quatrinh_congtac" value=""/>
    </rex_dm_coquan>
    
    <rex_dm_dantoc>
      <add key="rex_nhansu" value=""/>
    </rex_dm_dantoc>

    <rex_dm_honnhan>
      <add key="rex_nhansu" value=""/>
    </rex_dm_honnhan>
    
    <rex_dm_huyen>
      <add key="rex_dm_xa" value=""/>
    </rex_dm_huyen>

    <rex_dm_khenthuong_kyluat>
      <add key="rex_quatrinh_ktkl" value=""/>
    </rex_dm_khenthuong_kyluat>
    
    <rex_dm_loai_bophan>
      <add key="rex_dm_bophan" value=""/>
    </rex_dm_loai_bophan>

    <rex_dm_loai_ktkl>
      <add key="rex_dm_khenthuong_kyluat" value=""/>
    </rex_dm_loai_ktkl>
    
    <rex_dm_ngachluong>
      <add key="rex_dm_bacluong" value=""/>
    </rex_dm_ngachluong>

    <rex_dm_ngoaingu>
      <add key="rex_quatrinh_ngoaingu" value=""/>
    </rex_dm_ngoaingu>
    
    <rex_dm_quanhe_giadinh>
      <add key="rex_thannhan" value=""/>
    </rex_dm_quanhe_giadinh>
    
    <rex_dm_quocgia>
      <add key="pro_dm_khachhang" value=""/>
      <add key="rex_nhansu" value=""/>
      <add key="rex_dm_tinhtp" value=""/>
    </rex_dm_quocgia>
    
    <rex_dm_quyetdinh>
      <add key="rex_quatrinh_ktkl" value=""/>
      <add key="rex_botri_nhansu" value=""/>
      <add key="rex_huongluong" value=""/>
    </rex_dm_quyetdinh>

    <rex_dm_tinhoc>
      <add key="rex_quatrinh_tinhoc" value=""/>
    </rex_dm_tinhoc>
    
    <rex_dm_tinhtp>
      <add key="rex_dm_huyen" value=""/>
    </rex_dm_tinhtp>

    <rex_dm_tochuc>
      <add key="rex_thamgia_tochuc" value=""/>
    </rex_dm_tochuc>
    
    <rex_dm_tongiao>
      <add key="rex_nhansu" value=""/>
    </rex_dm_tongiao>

    <rex_dm_tpbanthan>
      <add key="rex_nhansu" value=""/>
    </rex_dm_tpbanthan>
    
    <rex_dm_tpgiadinh>
      <add key="rex_nhansu" value=""/>
    </rex_dm_tpgiadinh>
    
    <rex_dm_vanhoa>
      <add key="rex_nhansu" value=""/>
    </rex_dm_vanhoa>

    <rex_dm_xa>
      <add key="rex_dm_ap" value=""/>
    </rex_dm_xa>
    
    <rex_dm_xeploai>
      <add key="rex_quatrinh_ngoaingu" value=""/>
      <add key="rex_quatrinh_tinhoc" value=""/>
    </rex_dm_xeploai>

    <sys_dm_nghiepvu>
      <add key="sys_field_nghiepvu" value=""/>
      <add key="rex_dm_quyetdinh"   value=""/>
      <add key="rex_dm_chucvu"      value=""/>
    </sys_dm_nghiepvu>
      
    <rex_hopdong>
      <add key="" value=""/>
    </rex_hopdong>
    
    <rex_huongluong>
      <add key="" value=""/>
    </rex_huongluong>
    
    <rex_nhansu>
      <add key="rex_quatrinh_congtac" value=""/>
      <add key="rex_quatrinh_ktkl" value=""/>
      <add key="rex_botri_nhansu" value=""/>
      <add key="rex_quatrinh_ngoaingu" value=""/>
      <add key="rex_quatrinh_tinhoc" value=""/>
      <add key="rex_thamgia_tochuc" value=""/>
      <add key="rex_thannhan" value=""/>
      <add key="pro_sum_congdoan" value=""/>
      <add key="rex_hopdong" value=""/>
      <add key="pro_ketqua_congviec" value=""/>
      <add key="rex_huongluong" value=""/>
      <add key="rex_quatrinh_chuyenmon" value=""/>
    </rex_nhansu>

    <rex_quatrinh_chuyenmon>
      <add key="" value=""/>
    </rex_quatrinh_chuyenmon>
    
    <rex_quatrinh_congtac>
      <add key="" value=""/>
    </rex_quatrinh_congtac>

    <rex_quatrinh_ktkl>
      <add key="" value=""/>
    </rex_quatrinh_ktkl>
    
    <rex_quatrinh_ngoaingu>
      <add key="" value=""/>
    </rex_quatrinh_ngoaingu>

    <rex_quatrinh_tinhoc>
      <add key="" value=""/>
    </rex_quatrinh_tinhoc>
    
    <rex_thamgia_tochuc>
      <add key="" value=""/>
    </rex_thamgia_tochuc>
    
    <rex_thannhan>
      <add key="" value=""/>
    </rex_thannhan>
  </TableRelationship>
</configuration>