<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="UserMessage">
      <section name="ProductInfo" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>

  
  <UserMessage>
    <!--BEGIN OF SYSTEM MESSAGE-->
    <!-- ERROR  -->
    <SYS_CANT_DUPLICATE_LICENSE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Không thể đăng ký 2 license trên PC {0} với mã đăng ký {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CANT_DUPLICATE_LICENSE>

    <SYS_UNKNOWN_PRODUCT_GUI>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Mã phần mềm không được nhà cung cấp phát hành"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_UNKNOWN_PRODUCT_GUI>

    <SYS_LICENSE_ISFULL>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="License đã được cấp hết"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_LICENSE_ISFULL>

    <SYS_PC_EXISTS_LICENSE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Máy tính này đã được cấp license"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_PC_EXISTS_LICENSE>

    <SYS_UNKNOWN_LICENSE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Phần mềm chưa được cấp phép"/>
      <add key="Detail" value="Phiên bản phần mềm đã hết hạn, hoặc chưa đăng ký với nhà cung cấp. Hãy liên hệ nhà cung cấp để đăng ký license mới"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_UNKNOWN_LICENSE>

    <SYS_INVALID_LICENSE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Thông tin giấp phép không hợp lệ"/>
      <add key="Detail" value="Bạn kiểm tra thông tin: Product code, PC Code, Customer code"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_LICENSE>

    <SYS_UNABLE_CONNECT_REMOTE_SERVER>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi kết nối"/>
      <add key="Message" value="Hệ thống không thể kết nối với máy chủ dịch vụ"/>
      <add key="Detail" value="Bạn hãy kiểm tra lại {0}"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_UNABLE_CONNECT_REMOTE_SERVER>

    <SYS_LOGON_FAILED>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi đăng nhập"/>
      <add key="Message" value="Bạn không thể đăng nhập hệ thống với tài khoản {0}"/>
      <add key="Detail" value="Tài khoản {0} không hợp lệ.\nVui lòng kiểm tra lại tên tài khoản, mật khẩu và domain"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_LOGON_FAILED>

    <DUPPLICATE_ID_NHANSU>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi"/>
      <add key="Message" value="Trùng ID nhân sự"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </DUPPLICATE_ID_NHANSU>

    <SYS_ILLEGAL_ACTION>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi thao tác"/>
      <add key="Message" value="Thao tác không hợp lệ.\nVui lòng liên hệ quản trị để được cấp quyền"/>
      <add key="Detail" value="Bạn chưa được cấp quyền thao tác này"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_ILLEGAL_ACTION>

    <SYS_NOTALLOW_ADD>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi thao tác"/>
      <add key="Message" value="Bạn không có quyền thực hiện thao tác thêm mới"/>
      <add key="Detail" value="Bạn chưa được cấp quyền thao tác này"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NOTALLOW_ADD>

    <SYS_NOTALLOW_RESET_ADUSER>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi thao tác"/>
      <add key="Message" value="Bạn không thể hiệu chỉnh người dùng thuộc miền {0}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NOTALLOW_RESET_ADUSER>

    <SYS_NOTALLOW_EDIT>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi thao tác"/>
      <add key="Message" value="Bạn không có quyền thực hiện thao tác hiệu chỉnh"/>
      <add key="Detail" value="Bạn chưa được cấp quyền thao tác này"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NOTALLOW_EDIT>

    <SYS_NOTALLOW_DELETE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi thao tác"/>
      <add key="Message" value="Bạn không có quyền thực hiện thao tác xóa"/>
      <add key="Detail" value="Bạn chưa được cấp quyền thao tác này"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NOTALLOW_DELETE>

    <SYS_ILLEGAL_RIGHT>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Quyền truy cập"/>
      <add key="Message" value="Bạn không có quyền thao tác trên {0}.\n- Hãy liên hệ người quản trị để được cấp quyền."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_ILLEGAL_RIGHT>

    <SYS_UNKNOWN_DNS>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi hệ thống"/>
      <add key="Message" value="Không tìm thấy Domain trên hệ thống"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_UNKNOWN_DNS>

    <SYS_INVALID_ENCODING>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi bảng mã"/>
      <add key="Message" value="Bảng mã không hợp lệ"/>
      <add key="Detail" value="Bạn đã chọn bảng mã không phù hợp với nội dung văn bản"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_ENCODING>

    <SYS_INVALID_PATH>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi đường dẫn"/>
      <add key="Message" value="Đường dẫn {0} không hợp lệ"/>
      <add key="Detail" value="Bạn đã chọn đường dẫn đến tập tin (hoặc thư mục) không tồn tại"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_PATH>

    <SYS_INVALID_ASSEMBLY>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi"/>
      <add key="Message" value="Không tìm thấy assembly phù hợp với {0}"/>
      <add key="Detail" value="Bạn phải mở {1} thiết lập entry Assemly trong section cấu hình PluginItems của {0}"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_ASSEMBLY>

    <SYS_NULL_REF>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Lỗi"/>
      <add key="Message" value="Không tìm thấy đối tượng phù hợp với kiểu {0}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NULL_REF>

    <SYS_NULL_VALUE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không thể rỗng.\nVui lòng nhập lại {0}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_NULL_VALUE>

    <SYS_INVALID_VALUE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không thể đúng.\nVui lòng nhập lại {0}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_VALUE>


    <SYS_ALREADY_EXIST>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} đã tồn tại.\nVui lòng nhập lại {0}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_ALREADY_EXIST>

    <SYS_DATA_INUSE>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Không thể xóa,  {0} này đang được sử dụng."/>
      <add key="Detail" value="Trước khi xóa {0} này, bạn nên kiểm tra trong các danh mục liên quan có sử dụng dữ liệu {0} này chưa."/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_DATA_INUSE>

    <SYS_INVALID_COMPARISON>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không được lớn hơn {1}. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_COMPARISON>

    <SYS_INVALID_VERIFY>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Xác nhận {0} không đúng, vui lòng nhập lại {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_INVALID_VERIFY>

    <!--INFORMATION-->

    <SYS_EMPTY_DATA>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Thông tin"/>
      <add key="Message" value="Không có dữ liệu"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_EMPTY_DATA>

    <SYS_TASK_COMPLETED>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Công việc hoàn tất..."/>
      <add key="Message" value="Hoàn tất thực hiện công việc cập nhật {0}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_TASK_COMPLETED>

    <!--WARNING-->
    <SYS_EMPTY_COLLECTION>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông báo"/>
      <add key="Message" value="Chưa chọn {0}. Vui lòng chọn {0}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_EMPTY_COLLECTION>

    <SYS_EXIST_ITEM>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông báo"/>
      <add key="Message" value="{0} đã tồn tại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_EXIST_ITEM>

    <!--QUESTION-->

    <SYS_CONFIRM_BFCLOSE>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thông tin..."/>
      <add key="Message" value="Dữ liệu tại cửa sổ {0} đã thay đổi.\nBạn có muốn lưu không?"/>
      <add key="Detail" value="- Bạn nhấn nút Yes để lưu trước khi kết thúc.\n- Bạn nhấn nút No để kết thúc nhưng không lưu dữ liệu."/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNoCancel"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_BFCLOSE>

    <SYS_CONFIRM_BFDELETE>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn xóa {0} này không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_BFDELETE>

    <SYS_CONFIRM_BFDELETE_MASTERDATA>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận xóa thông tin {0}..."/>
      <add key="Message" value="Bạn chắc chắn xóa thông tin {0} này không?"/>
      <add key="Detail" value="Trước khi xóa {0} này, bạn nên kiểm tra trong bảng {1} có sử dụng dữ liệu {0} này chưa."/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_BFDELETE_MASTERDATA>

    <SYS_CONFIRM_BFCHANGE>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn thay đổi thông tin {0} ?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_BFCHANGE>

    <SYS_CONFIRM_BFRESET>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn reset dữ liệu?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_BFRESET>

    <SYS_CONFIRM_RESETAPP>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn có khởi động chương trình không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_CONFIRM_RESETAPP>

    <!--END OF SYSTEM MESSAGE-->



    <Msg00001>
      <add key="Type" value="Error"/>
      <add key="Caption" value=""/>
      <add key="Message" value=""/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00001>

    <Msg00002>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thay đổi cấu hình hệ thống..."/>
      <add key="Message" value="Bạn đã thay đổi ngôn ngữ hệ thống.\nVui lòng khởi động lại chương trình!"/>
      <add key="Detail" value="Ngôn ngữ hệ thống đã được thay đổi và chỉ có tác dụng sau khi khởi động lại chương trình."/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00002>

    <Msg00003>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Đang tải dữ liệu {0}..."/>
      <add key="Message" value="Dữ liệu của module {0} đang được tải.\nVui lòng chờ trong 1-2 giây"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00003>

    <Msg00004>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận xóa thông tin {0}..."/>
      <add key="Message" value="Bạn chắc chắn xóa thông tin {0} này không?"/>
      <add key="Detail" value="Trước khi xóa {0} này, bạn nên kiểm tra trong bảng {1} có sử dụng dữ liệu {0} này chưa."/>
       <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
   </Msg00004>
    
    <Msg00005>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thông tin..."/>
      <add key="Message" value="Dữ liệu tại cửa sổ {0} đã thay đổi.\nBạn có muốn lưu không?"/>
      <add key="Detail" value="- Bạn nhấn nút Yes để lưu trước khi kết thúc.\n- Bạn nhấn nút No để kết thúc nhưng không lưu dữ liệu."/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNoCancel"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00005>
  
    <Msg00006>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Bạn đã đăng nhập hệ thống với tài khoản {0}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00006>

    <Msg00007>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Bạn không thể đăng nhập hệ thống với tài khoản {0}"/>
      <add key="Detail" value="Tài khoản {0} không hợp lệ.\nVui lòng kiểm tra lại tên tài khoản, mật khẩu và domain"/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
       <add key="Website" value="http://mart24h.net/"/>
   </Msg00007>

    <Msg00008>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không thể rỗng.\nVui lòng nhập lại {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
   </Msg00008>
    
    <Msg00009>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Cập nhật phiên bản mới..."/>
      <add key="Message" value="Phiên bản mới của phần mềm đã sẵn sàng, phiên bản mới: {0}\nĐang tải về từ địa chỉ: {1}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
   </Msg00009>

    <Msg00010>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận..."/>
      <add key="Message" value="Bạn có muốn khởi động lại chương trình không"/>
      <add key="Detail" value="- Bạn nhấn nút Yes để khởi động và cập nhật chương trình \n- Bạn nhấn nút No nếu không muốn cập nhật chương trình"/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00010>

    <Msg00011>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Công việc hoàn tất..."/>
      <add key="Message" value="Hoàn tất thực hiện công việc {0}"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00011>

    <Msg00012>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận lập thống kê {0}..."/>
      <add key="Message" value="Thống kê {0} đã được lập, Bạn chắc chắn lập mới thống kê {0} này không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00012>

    <Msg00013>
      <add key="Type" value="Information"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Chưa chọn {0}. Vui lòng chọn {0}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00013>

    <SYS_ALREADY_EXIST>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} đã tồn tại.\nVui lòng nhập lại {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SYS_ALREADY_EXIST>

    <Msg00015>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Không thể xóa,  {0} này đang được sử dụng."/>
      <add key="Detail" value="Trước khi xóa {0} này, bạn nên kiểm tra trong các danh mục liên quan có sử dụng dữ liệu {0} này chưa."/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00015>

    <Msg00016>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không được lớn hơn {1}. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00016>

    <Msg00017>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Cột {0} phải nhập số. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00017>

    <Msg00018>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận xóa plugin..."/>
      <add key="Message" value="Bạn chắc chắn xóa plugin {0} không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00018>
    
    <Msg00019>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} xác nhận không đúng, vui lòng nhập lại {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00019>

    <Msg00020>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn thay đổi thông tin {0} ?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00020>

    <Msg00021>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn xóa {0} này không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00021>
    
    <Msg00022>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Công việc thất bại..."/>
      <add key="Message" value="Quá trình thực hiện công việc {0} thất bại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00022>

    <Msg00023>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn thoát khỏi cửa sổ {0} ?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00023>
    <Msg00024>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Không thể xóa,  {0} này đã bị khóa."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00024>
    <Msg00025>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn chắc chắn khóa tài khoản của người dùng {0} ?"/>
      <add key="Detail" value="Khi bị khóa người dùng không thể đăng nhập vào hệ thống."/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00025>
    <Msg00026>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} không hợp lệ, vui lòng nhập lại {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00026>

    <Msg00027>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Số {0} hoặc {1} không bằng với tổng {2}, vui lòng kiểm tra lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00027>

    <Msg00028>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Số hiệu tài khoản con không hợp lệ, vui lòng kiểm tra lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Error"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00028>

    <Msg00029>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} và {1} đã bị trùng. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00029>

    <Msg00030>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} lớn hơn tổng {1} và {2}. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00030>

    <Msg00031>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="{0} lớn hơn {1}. \nXin vui lòng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00031>
    
     <Msg00032>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Bạn không có quyền thao tác trên {0}.\n- Hãy liên hệ người quản trị để được cấp quyền."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00032>

    <Msg00033>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn có muốn tải lại profile từ server không?"/>
      <add key="Detail" value="Nếu bạn không tải lại profile thì có thể một vài chức năng trên menu sẽ không hiển thị đúng"/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00033>

    <Msg00034>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Profile đã được tải về từ server. Bạn hãy đăng nhập lại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00034>

    <Msg00035>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Khởi tạo dữ liệu"/>
      <add key="Message" value="{0} hiện tại sẽ bị xóa.\nBạn quyết định lập {0} mới phải không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00035>

    <Msg00036>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Giá trị không hợp lệ!\n{0} không thể lớn hơn {1}."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Information"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00036>

	  <Msg00037>
		  <add key="Type" value="Question"/>
		  <add key="Caption" value="Xác nhận xóa thông tin {0}..."/>
		  <add key="Message" value="Bạn chắc chắn xóa {0} này không?.\n \nNếu xóa {0} này thì tất cả các dữ liệu liên quan sẽ bị xóa hết !"/>
		  <add key="Detail" value="Trước khi xóa {0} này, bạn nên kiểm tra trong bảng {1} có sử dụng dữ liệu {0} này chưa."/>
		  <add key="MessageBoxIcon" value="Question"/>
		  <add key="MessageBoxButtons" value="YesNo"/>
		  <add key="Website" value="http://mart24h.net/"/>
	  </Msg00037>

    <Msg00038>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Check out!"/>
      <add key="Message" value="Bạn có chắc Checkout phòng này?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00038>

    <Msg00039>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Phòng này đã checkout nên không thể xóa hay cập nhật."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00039>

    <Msg00040>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Check out!"/>
      <add key="Message" value="Checkin này có nhiều hơn 1 phòng.\nBạn có muốn checkout hết các phòng?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00040>

    <Msg00041>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Tiền cọc!"/>
      <add key="Message" value="Thông tin checkin này có tiền đặt cọc.\nBạn có muốn sử dụng đặt cọc cho phòng này?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00041>

    <Msg00042>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Reset!"/>
      <add key="Message" value="Bạn có chắc muốn reset danh sách phòng theo danh sách Đặt trước?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00042>


    <Msg00043>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Reset!"/>
      <add key="Message" value="Bạn có chắc muốn Chuyển/Đổi phòng {0} sang phòng khác?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </Msg00043>
   
    <MA_NHANSU_IS_ALREADY>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Mã nhân sự {0} đã tồn tại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </MA_NHANSU_IS_ALREADY>
    
    <MA_HOPDONG_LAODONG_IS_ALREADY>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Mã hợp đồng lao động {0} đã tồn tại."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </MA_HOPDONG_LAODONG_IS_ALREADY>
    
    <DENGHI_ALREADY_EXISTS>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Phiếu đề nghị đã báo giá nên không thể lập lại. Bạn hãy chọn phiếu đề nghị khác"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </DENGHI_ALREADY_EXISTS>
    
    <NGHIEPVU_ALREADY_EXISTS>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Nghiệp vụ đã tồn tại nên không thể lập lại. Bạn hãy chọn nghiệp vụ khác"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </NGHIEPVU_ALREADY_EXISTS>
    
    <ACCESS_DENIED>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Bạn không có quyền thao thác trên đối tượng này.\n Vui lòng hủy bỏ thao tác"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </ACCESS_DENIED>
    
    <SOLUONG_NOTAVAILABLE>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Không đủ số lượng hàng hóa để xuất theo yêu cầu"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SOLUONG_NOTAVAILABLE>
    
    <QUANLATY_NOT_AVAILABLE>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Không đủ số lượng để xuất theo yêu cầu"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </QUANLATY_NOT_AVAILABLE>
    
    <TASK_OUTOFDATE>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Công việc đã quá hạn nên không thể thực hiện được"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </TASK_OUTOFDATE>
    <TASK_VERIFIED>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Công việc đã được kiểm tra, xác nhận nên không thể thay đổi"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </TASK_VERIFIED>
    <TYGIA_NOT_AVAILABLE>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Tỷ giá chênh lệch chưa hợp lệ.\nVui lòng cập nhật lại nghiệp vụ liên quan."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </TYGIA_NOT_AVAILABLE>

    <ORDER_SERVED>
      <add key="Type" value="Warning"/>
      <add key="Caption" value="Thông tin..."/>
      <add key="Message" value="Bàn này đã có món pha chế xong nên không thể hủy."/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Warning"/>
      <add key="MessageBoxButtons" value="OK"/>
      <add key="Website" value="http://mart24h.net/"/>
    </ORDER_SERVED>

    <SHOW_PRINTPREVIEW>
      <add key="Type" value="Question"/>
      <add key="Caption" value="Xác nhận thao tác..."/>
      <add key="Message" value="Bạn có muốn xem trước trang in không?"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </SHOW_PRINTPREVIEW>

    <DBCONCURRENCYEXCEPTION>
      <add key="Type" value="Error"/>
      <add key="Caption" value="Thao tác không được phép..."/>
      <add key="Message" value="Thao tác cập nhật của bạn xảy ra đồng thời với người khác. Bạn phải hủy thao tác và làm lại!"/>
      <add key="Detail" value=""/>
      <add key="MessageBoxIcon" value="Question"/>
      <add key="MessageBoxButtons" value="YesNo"/>
      <add key="Website" value="http://mart24h.net/"/>
    </DBCONCURRENCYEXCEPTION>   
  </UserMessage>
</configuration>