<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ActiveDirectoryLogon">
      <section name="ProductInfo" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>

  <ActiveDirectoryLogon>

    <ControlText>
      <add key="checkLogonDomain" value="Đăng nhập vào Domain"/>
      <add key="labelDomain" value="Tên Domain"/>
      <add key="comboDomain" value=""/>
      <add key="buttonLogon" value="Đăng nhập"/>
      <add key="buttonCancel" value="Thoát"/>
      <add key="labelPassword" value="Mật khẩu"/>
      <add key="labelUser" value="Tên đăng nhập"/>
      <add key="textUser" value=""/>
      <add key="textPassword" value=""/>
   </ControlText>

    <Bitmaps>
      <add key="Background" value="Resources\Bitmaps\logonbg3.jpg"/>
    </Bitmaps>

  </ActiveDirectoryLogon>

</configuration>