<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Database">
      <section name="DbConnectionInfo" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
  
  <Database>
    <DbConnectionInfo>
      <!--<add key="ConnectionString" value="Provider=SQLOLEDB;Data Source=tancamau.ddns.net;Initial Catalog=Tan_CM;Persist Security Info=True;User ID=tancm;Password=1230789;User Instance=True" />-->
      <add key="ConnectionString" value="Provider=SQLOLEDB;Data Source=TUONGQUACH;Initial Catalog=ECM_DEV;Persist Security Info=True;User ID=sa;Password=1230789;User Instance=True" />
      
      <!--<add key="ConnectionString" value="Provider=SQLOLEDB;Data Source=123.30.143.17;Initial Catalog=ecm_cvl27;Persist Security Info=True;User ID=ecm_cvl27;Password=124578235689;User Instance=True" />-->
    </DbConnectionInfo>
    
  </Database>
</configuration>
