<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="HostConfiguration">
      <section name="ProductInfo" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>

  <HostConfiguration>

    <Plugins>
      <add key="PluginsPath" value=""/>
      <add key="PluginConfigFile" value="Resources/Plugins.config"/>
    </Plugins>

    <Theme>
      <add key="ActiveSkinName" value="Office 2007 Blue"/>
      <add key="ProductTitle" value="ThanhThuy"/>
      <add key="ProductIcon" value="Resources\Icons\fastcashier.ico"/>
      <add key="SplashBitmap" value="Resources\Bitmaps\ecm-plash-screen.png"/>
      <add key="LogonBackgroundBitmap" value="Resources/Bitmaps/logonbg.png"/>
    </Theme>

    <CultureInfo>
      <add key="DefaultCultureInfo" value="vi-VN"/>
      <add key="DefaultCultureInfoPath" value="Resources\Default"/>
      <add key="CultureInfoPath" value="Resources\Lang"/>
      <add key="CurrentCultureInfo" value=""/>
    </CultureInfo>

    <DisplayFormat>
      <add key="DateTimeFormat" value="dd/MM/yyyy"/>
      <add key="LongDateTimeFormat" value="dd/MM/yyyy hh:mm:ss tt"/>
      <add key="NumericFormat" value="###,###,###,###,###,###"/>
    </DisplayFormat>

    <CurrentUser>
      <add key="UserName" value=""/>
    </CurrentUser>

    <Location>
      <add key="Id_Cuahang_Ban" value="1" />
    </Location>

  </HostConfiguration>

  <StartupObjects>
    <FrmMainUseRibbon>
      <add key="Assembly" value="GoobizFrame.Windows.dll"/>
      <add key="Type" value="GoobizFrame.Windows.Forms.FrmMainUseRibbon"/>
      <add key="Caption" value="Main Form"/>
      <add key="RunAfterLogon" value="False"/>
      <add key="Exec" value="True"/>
    </FrmMainUseRibbon>

    <Frmware_Hdbanhang_noVAT_Hhban>
      <add key="Assembly" value="Ecm.Ware.dll"/>
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Hdbanhang_noVAT_Hhban"/>
      <add key="Caption" value="Bán hàng"/>
      <add key="RunAfterLogon" value="False"/>
      <add key="Exec" value="False"/>
    </Frmware_Hdbanhang_noVAT_Hhban>

  </StartupObjects>

  <ReportOptions>
    <rptHdbanhang_noVAT>
      <add key="Type" value="Ecm.Ware.Reports.rptHdbanhang_noVAT"/>
      <add key="Caption" value="In hóa đơn bán lẻ"/>
      <add key="Description" value="Sử dụng trong các chức năng: x,y,z,..."/>
      <add key="PrintPreview" value="True"/>
    </rptHdbanhang_noVAT>

    <rptHdbanhang_VAT>
      <add key="Type" value="Ecm.Ware.Reports.rptHdbanhang_VAT"/>
      <add key="Caption" value="In hóa đơn bán VAT"/>
      <add key="Description" value="Sử dụng trong các chức năng: x,y,z,..."/>
      <add key="PrintPreview" value="True"/>
    </rptHdbanhang_VAT>

    <rptPhieu_Thu>
      <add key="Type" value="Ecm.Ware.Reports.rptPhieu_Thu"/>
      <add key="Caption" value="In Phiếu thu"/>
      <add key="Description" value="Sử dụng trong các chức năng: x,y,z,..."/>
      <add key="PrintPreview" value="True"/>
    </rptPhieu_Thu>  

    <rptBaogia_Khachhang>
      <add key="Type" value="Ecm.Ware.Reports.rptBaogia_Khachhang"/>
      <add key="Caption" value="In báo giá"/>
      <add key="Description" value="Sử dụng trong các chức năng: x,y,z,..."/>
      <add key="PrintPreview" value="True"/>
    </rptBaogia_Khachhang>

    <rptDutru_Muahang>
      <add key="Type" value="Ecm.Ware.Reports.rptDutru_Muahang"/>
      <add key="Caption" value="Dự trù mua hàng"/>
      <add key="Description" value="Sử dụng trong các chức năng: x,y,z,..."/>
      <add key="PrintPreview" value="True"/>
    </rptDutru_Muahang>

  </ReportOptions>

  <WebReferences>
    <Reference>
      <add key="Startup" value="Webservices_Mekong"/> <!-- Webservices_Mekong-->
    </Reference>
   
    <Webservices>
      <add key="BarService"             value="http://localhost:51000/BarService.asmx"/>
      <add key="MasterService"          value="http://localhost:51000/MasterService.asmx"/>
      <add key="RexService"             value="http://localhost:51000/RexService.asmx"/>
      <add key="SystemService"          value="http://localhost:51000/SystemService.asmx"/>
      <add key="ReportServices"         value="http://localhost:51000/ReportService.asmx"/>
      <add key="WareService"            value="http://localhost:51000/WareService.asmx"/>
      <add key ="PolicyService"         value="http://localhost:51000/PolicyService.asmx"/>
      <!--BDB4353A3A034936941178D58-->
      <add key ="LicenseService"        value="http://localhost:51000/"/>
      <add key="AutoUpdateConfigURL"    value="http://localhost:51000/Autoupdate/UpdateVersion.xml" />
    </Webservices>

   <Webservices_Mekong>
      <add key="BarService"             value="http://localhost:51000/BarService.asmx"/>
      <add key="MasterService"          value="http://localhost:51000/MasterService.asmx"/>
      <add key="RexService"             value="http://localhost:51000/RexService.asmx"/>
      <add key="SystemService"          value="http://localhost:51000/SystemService.asmx"/>
      <add key="ReportServices"         value="http://localhost:51000/ReportService.asmx"/>
      <add key="WareService"            value="http://localhost:51000/WareService.asmx"/>  
      <add key ="PolicyService"         value="http://localhost:51000/PolicyService.asmx"/>
      <!--13CEFC5E5DAA49378A522559B-->
      <add key ="LicenseService"        value="http://localhost:51000/"/>
      <add key="AutoUpdateConfigURL"    value="http://localhost:51000/Autoupdate/UpdateVersion.xml" />
    </Webservices_Mekong>
    
  </WebReferences>



</configuration>