<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Hàng hóa"/>
      <add key="NewMenuName" value="BarXRpt_Ware"/>
      <add key="ParentMenuName" value="BarXRpt"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Báo cáo"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="False" />
      <add key="NewToolbarText" value="Hàng hóa"/>
      <add key="NewToolbarName" value="BarXRpt_Ware"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Hàng hóa"/>
      <add key="NavigatorGroupName" value="NavXRpt_Ware"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="10"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>
    <FrmRptware_Baocao_Khohang>
      <add key="Text" value="Báo cáo kho hàng"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Khohang"/>
      <add key="Description" value="Báo cáo mua hàng"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Khohang"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Khohang"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Khohang"/>
    </FrmRptware_Baocao_Khohang>

    <!--<Frmware_Nhap_Hh_Ban_Date>
      <add key="Text" value="Báo cáo date hàng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Nhap_Hh_Ban_Date"/>
      <add key="Description" value="Báo cáo tổng hợp"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Nhap_Hh_Ban_Date"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Nhap_Hh_Ban_Date"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Nhap_Hh_Ban_Date"/>
    </Frmware_Nhap_Hh_Ban_Date>-->

    <!--<FrmRptware_Baocao_Muahang>
      <add key="Text" value="Báo cáo mua hàng"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Muahang"/>
      <add key="Description" value="Báo cáo mua hàng"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Muahang"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Muahang"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Muahang"/>

    </FrmRptware_Baocao_Muahang>-->

    <FrmRptware_Baocao_Banhang>
      <add key="Text" value="Báo cáo bán hàng"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Banhang"/>
      <add key="Description" value="Báo cáo bán hàng"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Banhang"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Banhang"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Banhang"/>

    </FrmRptware_Baocao_Banhang>

    <FrmRptware_Baocao_Congno>
      <add key="Text" value="Báo cáo công nợ khách hàng"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Congno"/>
      <add key="Description" value="Báo cáo công nợ khách hàng"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Congno"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Congno"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Congno"/>
    </FrmRptware_Baocao_Congno>


    <FrmRptware_Baocao_Congno_Ncc>
      <add key="Text" value="Báo cáo công nợ NCC"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Congno_Ncc"/>
      <add key="Description" value="Báo cáo công nợ NCC"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Congno_Ncc"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Congno_Ncc"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Congno_Ncc"/>
    </FrmRptware_Baocao_Congno_Ncc>

    <!--<Frmware_Dinhmuc>
      <add key="Text" value="Định mức"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.Frmware_Dinhmuc"/>
      <add key="Description" value="Định mức"/>
      <add key="Icon" value="Resources/Icons/dinhgia_hangban.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Dinhmuc"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Dinhmuc"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Dinhmuc"/>
    </Frmware_Dinhmuc>-->
    
    <!--<FrmRptware_Baocao_Tonghop>
      <add key="Text" value="Báo cáo tổng hợp"/>
      <add key="Assembly" value="Ecm.Reports.dll" />
      <add key="Type" value="Ecm.Reports.Forms.FrmRptware_Baocao_Tonghop"/>
      <add key="Description" value="Báo cáo tổng hợp"/>
      <add key="Icon" value="Resources/Icons/shopping cart full.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Baocao_Tonghop"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Baocao_Tonghop"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Baocao_Tonghop"/>

    </FrmRptware_Baocao_Tonghop>-->

   
    
</PluginItems>
</configuration>