<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="System info"/>
      <add key="NewMenuName" value="BarSystemInfo"/>
      <add key="ParentMenuName" value="BarSystemControl"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="System"/>
    </MenuSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="False" />
      <add key="NavigatorGroupText" value="System info"/>
      <add key="NavigatorGroupName" value="NavSystemInfo"/>
      <add key="Expanded" value="False"/>
    </NavigatorSettings>
    
    <ToolbarSettings>
      <add key="CreateToolbar" value="True" />
      <add key="NewToolbarText" value="System info"/>
      <add key="NewToolbarName" value="BarSystemInfo"/>
    </ToolbarSettings>
    
    <Images>
      <add key="LargeImage" value="Resources/Icons/Lock (11).ico"/>
      <add key="SmallImage" value="Resources/Icons/Lock (11).ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="5"/>
    </RibbonItems>
      
  </Settings>

  <PluginItems>

    <FrmThemeInfo>
      <add key="Text" value="User interface info"/>
      <add key="Type" value="Ecm.SystemControl.SystemInfo.FrmThemeInfo"/>
      <add key="Description" value="User interface info"/>
      <add key="Icon" value="Resources/Icons/info_gui.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmThemeInfo"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmThemeInfo"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmThemeInfo"/>
    </FrmThemeInfo>
    <FrmAbout>
      <add key="Text" value="Infomation"/>
      <add key="Type" value="Ecm.SystemControl.SystemInfo.FrmAbout"/>
      <add key="Description" value="Infomation"/>
      <add key="Icon" value="Resources/Icons/Aqua Ball.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmAbout"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmAbout"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmAbout"/>
    </FrmAbout>

  </PluginItems>
</configuration>