<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Plugin"/>
      <add key="NewMenuName" value="BarPlugin"/>
      <add key="ParentMenuName" value="BarSystemControl"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="System"/>
    </MenuSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="False" />
      <add key="NavigatorGroupText" value="Plugin"/>
      <add key="NavigatorGroupName" value="NavPlugin"/>
      <add key="Expanded" value="False"/>
    </NavigatorSettings>
    
    <ToolbarSettings>
      <add key="CreateToolbar" value="True" />
      <add key="NewToolbarText" value="Plugin"/>
      <add key="NewToolbarName" value="BarPlugin"/>
    </ToolbarSettings>
    
    <Images>
      <add key="LargeImage" value="Resources/Icons/Lock (11).ico"/>
      <add key="SmallImage" value="Resources/Icons/Lock (11).ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="5"/>
    </RibbonItems>
      
  </Settings>

  <PluginItems>
    <!--<ActiveDirectoryLogon>
      <add key="Text" value="Plugin"/>
      <add key="Type" value="Ecm.SystemControl.ModulesAdmin.InstallModules"/>
      <add key="Description" value="Manage plugins in software"/>
      <add key="Icon" value="Resources/Icons/software 2.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="InstallModules"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="InstallModules"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="InstallModules"/>
    </ActiveDirectoryLogon>-->

  </PluginItems>
</configuration>