<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Plugins">
      <section name="PluginNames" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="MasterTables" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="FormAddNew" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>
  </configSections>
 
  <appSettings>
    <add key="App Entry" value="App Value" />
  </appSettings>

  <TabPanes>

    <QLHanghoaMua>
      <add key="Caption" value="Hàng hóa TP (Shop,Mẹ và Bé)"/>
      <add key="Image" value=""/>
    </QLHanghoaMua>

    <QLHanghoaBan>
      <add key="Caption" value="Hàng hóa SX (Bánh, cafe, nhà hàng)"/>
      <add key="Image" value=""/>
    </QLHanghoaBan>

    <QLBar>
      <add key="Caption" value="Order Cafe"/>
      <add key="Image" value=""/>
    </QLBar>

    <PayMngr>
      <add key="Caption" value="Quỹ tiền mặt"/>
      <add key="Image" value=""/>
    </PayMngr>

    <GeneralAdm>
      <add key="Caption" value="Quản lý chung"/>
      <add key="Image" value=""/>
    </GeneralAdm>
    
     <RexMngr>
      <add key="Caption" value="Nhân sự"/>
      <add key="Image" value=""/>
    </RexMngr>  
    
    <SystemMngr>
      <add key="Caption" value="Hệ thống"/>
      <add key="Image" value=""/>
    </SystemMngr>

 
    
    
  </TabPanes>

  
</configuration>

