<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Quản lý"/>
      <add key="NewMenuName" value="BarWare_Control"/>
      <add key="ParentMenuName" value="BarWare"/>
      <add key="BeginModuleGroup" value="True"/>
      <add key="ModuleName" value="Quản lý"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="True" />
      <add key="NewToolbarText" value="Quản lý"/>
      <add key="NewToolbarName" value="BarWare_Control"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Quản lý"/>
      <add key="NavigatorGroupName" value="NavWare_Control"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="3"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>
    <FrmRptWare_DataLog>
      <add key="Text" value="Nhật ký dữ liệu"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.FrmRptWare_DataLog"/>
      <add key="Description" value="Nhật ký hiệu chỉnh dữ liệu"/>
      <add key="Icon" value="Resources/Icons/payment.ico"/>

      <add key="CreateMenuItem" value="False"/>
      <add key="MenuItemName" value="FrmRptWare_DataLog"/>

      <add key="CreateToolbarItem" value="False"/>
      <add key="ToolbarItemName" value="FrmRptWare_DataLog"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="FrmRptWare_DataLog"/>

      <add key="TabPane" value="GeneralAdm"/>
      </FrmRptWare_DataLog>

    <Frmware_Kh_Hh_Ban>
      <add key="Text" value="Kế hoạch hàng hóa"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Kh_Hh_Ban"/>
      <add key="Description" value="Kế hoạch hàng hóa"/>
      <add key="Icon" value="Resources/Icons/calendar_view_day.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Kh_Hh_Ban"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Kh_Hh_Ban"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Kh_Hh_Ban"/>

      <add key="TabPane" value="GeneralAdm"/>
      </Frmware_Kh_Hh_Ban>

    <FrmRptware_NL_Hhsx>
      <add key="Text" value="Tình hình sử dụng nguyên liệu"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.FrmRptware_NL_Hhsx"/>
      <add key="Description" value="Tình hình sử dụng nguyên liệu"/>
      <add key="Icon" value="Resources/Icons/stats.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_NL_Hhsx"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_NL_Hhsx"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_NL_Hhsx"/>

      <add key="TabPane" value="GeneralAdm"/>
      </FrmRptware_NL_Hhsx>

    <FrmRptware_Nxt_Hhban_Notify>
      <add key="Text" value="Thông báo SL nguyên liệu"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.FrmRptware_Nxt_Hhban_Notify"/>
      <add key="Description" value="Thông báo SL"/>
      <add key="Icon" value="Resources/Icons/stats.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="FrmRptware_Nxt_Hhban_Notify"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="FrmRptware_Nxt_Hhban_Notify"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="FrmRptware_Nxt_Hhban_Notify"/>

      <add key="TabPane" value="GeneralAdm"/>
      </FrmRptware_Nxt_Hhban_Notify>       
  </PluginItems>
</configuration>