<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Quản lý kho"/>
      <add key="NewMenuName" value="BarWare_Pro"/>
      <add key="ParentMenuName" value="BarWare"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Quản lý kho"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="False" />
      <add key="NewToolbarText" value="Quản lý kho"/>
      <add key="NewToolbarName" value="BarWare_Pro"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Quản lý kho"/>
      <add key="NavigatorGroupName" value="NavWare_Pro"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="3"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>
    <Frmware_Hdbanhang_noVAT_MngrEdit>
      <add key="Text" value="Duyệt đơn hàng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Hdbanhang_noVAT_MngrEdit"/>
      <add key="Description" value="Duyệt đơn hàng"/>
      <add key="Icon" value="Resources/Icons/Pen_icon.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Hdbanhang_noVAT_MngrEdit"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Hdbanhang_noVAT_MngrEdit"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmware_Hdbanhang_noVAT_MngrEdit"/>

      <add key="TabPane" value="GeneralAdm"/>
    </Frmware_Hdbanhang_noVAT_MngrEdit>

    <!--<Frmware_Kehoach_Banhang_Edit>
      <add key="Text" value="Duyệt Kế hoạch"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Kehoach_Banhang_Edit"/>
      <add key="Description" value="Duyệt Kế hoạch"/>
      <add key="Icon" value="Resources/Icons/Check_Document.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Kehoach_Banhang_Edit"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Kehoach_Banhang_Edit"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmware_Kehoach_Banhang_Edit"/>

      <add key="TabPane" value="GeneralAdm"/>
    </Frmware_Kehoach_Banhang_Edit>

    <Frmware_Dondathang_Edit>
      <add key="Text" value="Duyệt đơn đặt hàng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Dondathang_Edit"/>
      <add key="Description" value="Duyệt đơn đặt hàng"/>
      <add key="Icon" value="Resources/Icons/Check_Document.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Dondathang_Edit"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Dondathang_Edit"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmware_Dondathang_Edit"/>

      <add key="TabPane" value="GeneralAdm"/>
    </Frmware_Dondathang_Edit>-->

  </PluginItems>
</configuration>