<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="Settings">
      <section name="MenuSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="ToolbarSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="NavigatorSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
    <sectionGroup name="PluginItems">
      <section name="FrmPersons" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
      <section name="FrmNationality" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    
  </configSections>

  <Settings>
    <MenuSettings>
      <add key="CreateMenu" value="True" />
      <add key="NewMenuText" value="Hàng hóa"/>
      <add key="NewMenuName" value="BarWare_PriceSale"/>
      <add key="ParentMenuName" value="BarWare"/>
      <add key="BeginModuleGroup" value="False"/>
      <add key="ModuleName" value="Hàng hóa"/>
    </MenuSettings>

    <ToolbarSettings>
      <add key="CreateToolbar" value="True" />
      <add key="NewToolbarText" value="Hàng hóa"/>
      <add key="NewToolbarName" value="BarWare_PriceSale"/>
    </ToolbarSettings>
    
    <NavigatorSettings>
      <add key="CreateNavigatorGroup" value="True" />
      <add key="NavigatorGroupText" value="Hàng hóa"/>
      <add key="NavigatorGroupName" value="NavWare_PriceSale"/>
      <add key="Expanded" value="True"/>
    </NavigatorSettings>
    
    <Images>
      <add key="LargeImage" value="Resources\Icons\yast_firewall.ico"/>
      <add key="SmallImage" value="Resources\Icons\yast_firewall.ico"/>
    </Images>
    
    <RibbonItems>
      <add key="MaxItemInGroup" value="10"/>
    </RibbonItems>
    
  </Settings>

  <PluginItems>

    <Frmware_Congnothu_Dauky>
      <add key="Text" value="Nợ đầu kỳ"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Congnothu_Dauky"/>
      <add key="Description" value="Nợ đầu kỳ"/>
      <add key="Icon" value="Resources/Icons/congno_thu.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Congnothu_Dauky"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Congnothu_Dauky"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Congnothu_Dauky"/>

      <add key="TabPane" value="PayMngr"/>
    </Frmware_Congnothu_Dauky>

    <Frmware_Hanghoa_Ban_Dauky>
      <add key="Text" value="Tồn đầu kỳ"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Hanghoa_Ban_Dauky"/>
      <add key="Description" value="Tồn đầu kỳ"/>
      <add key="Icon" value="Resources/Icons/kiemke_tp.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Hanghoa_Ban_Dauky"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Hanghoa_Ban_Dauky"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Hanghoa_Ban_Dauky"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Hanghoa_Ban_Dauky>

    <Frmware_Nhap_Hh_Ban>
      <add key="Text" value="Nhập hàng hóa"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Nhap_Hh_Ban"/>
      <add key="Description" value="Nhập hàng hóa SX tại cửa hàng"/>
      <add key="Icon" value="Resources/Icons/nhap_thanhpham.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Nhap_Hh_Ban"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Nhap_Hh_Ban"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Nhap_Hh_Ban"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Nhap_Hh_Ban>

    <Frmware_Xuat_Hh_Ban>
      <add key="Text" value="Xuất kho bán hàng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Xuat_Hh_Ban"/>
      <add key="Description" value="Xuất kho bán hàng"/>
      <add key="Icon" value="Resources/Icons/hoadon_banhang.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Xuat_Hh_Ban"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Xuat_Hh_Ban"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Xuat_Hh_Ban"/>
      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Xuat_Hh_Ban>

    <Frmware_Xuat_Nguyenlieu>
      <add key="Text" value="Xuất nguyên liệu"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Xuat_Nguyenlieu"/>
      <add key="Description" value="Xuất nguyên liệu"/>
      <add key="Icon" value="Resources/Icons/xuat_tp_noibo.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Xuat_Nguyenlieu"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Xuat_Nguyenlieu"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Xuat_Nguyenlieu"/>
      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Xuat_Nguyenlieu>
    <Frmware_Dieuxe>
      <add key="Text" value="Điều xe"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Dieuxe"/>
      <add key="Description" value="Điều xe"/>
      <add key="Icon" value="Resources/Icons/Xe.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Dieuxe"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Dieuxe"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Dieuxe"/>
      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Dieuxe>

    

    <!--<Frmware_Dm_Hanghoa_Ban_Import>
      <add key="Text" value="Nhập hàng hóa từ Excel"/>
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Dm_Hanghoa_Ban_Import"/>
      <add key="Description" value="Nhập hàng hóa từ Excel"/>
      <add key="Icon" value="Resources/Icons/Excel.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Dm_Hanghoa_Ban_Import"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Dm_Hanghoa_Ban_Import"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Dm_Hanghoa_Ban_Import"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Dm_Hanghoa_Ban_Import>-->

    <!--<Frmware_Hh_Mua_Tra_Ncc>
      <add key="Text" value="Trả hàng nhà cung cấp"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Hh_Mua_Tra_Ncc"/>
      <add key="Description" value="Trả hàng hóa cho nhà cung cấp"/>
      <add key="Icon" value="Resources/Icons/tra_hanghoa_ncc.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Hh_Mua_Tra_Ncc"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Hh_Mua_Tra_Ncc"/>

      <add key="CreateNavigatorItem" value="False"/>
      <add key="NavigatorItemName" value="Frmware_Hh_Mua_Tra_Ncc"/>

      <add key="TabPane" value="QLHanghoaMua"/>
    </Frmware_Hh_Mua_Tra_Ncc>

    <Frmware_Nhap_Hh_Ban_Err>
      <add key="Text" value="Nhập hàng hóa hư hỏng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Nhap_Hh_Ban_Err"/>
      <add key="Description" value="Nhập hàng hóa SX hư hỏng"/>
      <add key="Icon" value="Resources/Icons/nhap_thanhpham_huhong.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Nhap_Hh_Ban_Err"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Nhap_Hh_Ban_Err"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Nhap_Hh_Ban_Err"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Nhap_Hh_Ban_Err>-->

    <Frmware_Xuat_Chuyen_Noibo>
      <add key="Text" value="Xuất chuyển nội bộ"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Xuat_Chuyen_Noibo"/>
      <add key="Description" value="Xuất HH SX chuyển nội bộ"/>
      <add key="Icon" value="Resources/Icons/xuat_tp_noibo.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Xuat_Chuyen_Noibo"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Xuat_Chuyen_Noibo"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Xuat_Chuyen_Noibo"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Xuat_Chuyen_Noibo>

    <Frmware_Kiemke_Hanghoa_Ban>
      <add key="Text" value="Kiểm kê"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Kiemke_Hanghoa_Ban"/>
      <add key="Description" value="Kiểm kê"/>
      <add key="Icon" value="Resources/Icons/kiemke_tp.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Kiemke_Hanghoa_Ban"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Kiemke_Hanghoa_Ban"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Kiemke_Hanghoa_Ban"/>

      <add key="TabPane" value="QLHanghoaBan"/>
    </Frmware_Kiemke_Hanghoa_Ban>

    <!--<Frmware_Donmuahang_Kh_Hhban>
      <add key="Text" value="Báo giá khách hàng"/>
      <add key="Assembly" value="Ecm.Ware.dll" />
      <add key="Type" value="Ecm.Ware.Forms.Frmware_Donmuahang_Kh_Hhban"/>
      <add key="Description" value="Báo giá khách hàng"/>
      <add key="Icon" value="Resources/Icons/baogia.ico"/>

      <add key="CreateMenuItem" value="True"/>
      <add key="MenuItemName" value="Frmware_Donmuahang_Kh_Hhban"/>

      <add key="CreateToolbarItem" value="True"/>
      <add key="ToolbarItemName" value="Frmware_Donmuahang_Kh_Hhban"/>

      <add key="CreateNavigatorItem" value="True"/>
      <add key="NavigatorItemName" value="Frmware_Donmuahang_Kh_Hhban"/>
    </Frmware_Donmuahang_Kh_Hhban>-->
    
    
    

  </PluginItems>
</configuration>